.collapsible-container {
  height: auto;
  max-height: 40px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  transition: max-height 0.5s ease;
  color: $text-color-light;
  & > .heading {
    padding: 10px 0 10px 30px;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    @include bp(tablet) {
      font-size: 16px;
    }
  }
  & > .content {
    line-height: 20px;
    padding: 0 30px 0 30px;
    margin-bottom: 10px;
    font-size: 16px;
    @include bp(tablet) {
      font-size: 14px;
    }
  }
  & > .toggle-btn {
    position: absolute;
    left: 10px;
    top: 15px;
    width: 10px;
    height: 10px;
    border-left: solid 2px $text-color-light;
    border-bottom: solid 2px $text-color-light;
    transform: rotate(-135deg);
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  &.expanded {
    max-height: 250px;
    & > .toggle-btn {
      transform: rotate(-45deg);
    }
  }
}
