.clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.container {
  max-width: $max-width;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  font-family: "Oxygen", sans-serif;
  scroll-behavior: smooth;
}

.highlight {
  color: $highlight-color;
  font-weight: 700;
}
