footer {
  padding: 40px 0;
  text-align: center;
  color: $text-color-light;
  background-color: $background-color-light;
  .name-logo {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .quote-content {
    display: inline-block;
    margin-bottom: 20px;
    color: $highlight-color-light;
    font-size: 20px;
    @include bp(tablet) {
      font-size: 16px;
    }
  }
  .copyright-content {
    padding: 10px 0;
    font-size: 12px;
    margin-bottom: 10px;
  }
}
