@import "./variables";

@mixin col-layout($i) {
  .col-layout-#{$i} {
    width: calc(100% / #{$i});
    float: left;
    @include bp(tablet) {
      width: 100%;
    }
  }
}

@include col-layout(2);

@function getValue($theme-type, $type) {
  $map: map-get($theme, $theme-type);
  @return map-get($map, $type);
}

@mixin theme($theme-type, $type, $property-name) {
  .theme-#{$theme-type} & {
    #{$property-name}: getValue($theme-type, $type);
  }
}
