$max-width: 1220px;

// Color variables

$text-color-light: #000000;
$background-color-light: #ffffff;
$section-textColor-light: #ffffff;
$highlight-color-light: #3131f3;

// theme variables

$theme: (
  "dark": (
    "text-color-dark": #ffffff,
    "background-color-dark": #000000,
    "section-textColor-dark": #000000,
    "highlight-color-dark": #3131f3
  )
);

// breakpoints
$tablet: 800px;
$phone: 500px;
