header {
  @include theme("dark", "text-color-dark", "color");
  @include theme("dark", "background-color-dark", "background-color");
  .name-logo {
    @include theme("dark", "text-color-dark", "color");
  }
  .header-menu {
    .header-links {
      @include theme("dark", "text-color-dark", "color");
    }
  }
  nav {
    .menu-btn {
      @include theme("dark", "text-color-dark", "color");
    }
  }
  &.sticky {
    .theme-dark & {
      box-shadow: 0px 0px 5px 1px #5a5656;
    }
  }
}

main {
  @include theme("dark", "background-color-dark", "background-color");
}

.hero-section {
  @include theme("dark", "text-color-dark", "color");
}

.about-section {
  @include theme("dark", "text-color-dark", "color");
}

.blog-section {
  @include theme("dark", "text-color-dark", "color");
}

.projects-section {
  @include theme("dark", "text-color-dark", "color");
}

footer {
  @include theme("dark", "text-color-dark", "color");
  @include theme("dark", "background-color-dark", "background-color");
}

.collapsible-container {
  @include theme("dark", "text-color-dark", "color");
  & > .toggle-btn {
    .theme-dark & {
      border-left: solid 2px #ffffff;
      border-bottom: solid 2px #ffffff;
    }
  }
}

.social-icon {
  svg {
    @include theme("dark", "text-color-dark", "fill");
  }
}
